﻿<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Rental System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:burlywood">
    @*<div style="background-image: url('img_girl.jpg');">*@
    <div class="myDiv">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    @if (Session["Username"] != null)
                    {
                        if ((bool)Session["isLogin"] == true)
                        {
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Car", "Index", "car_Registration", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Customer", "Index", "customers", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Rent", "Index", "Rent", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("ReturnCar", "Index", "returncar", new { area = "" }, new { @class = "navbar-brand" })
                            <div class="navbar-header" style="float:right !important">
                                @Html.ActionLink("Logout", "Logout", "UserRegistration", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                        }
                    }

                </div>
                <div class="navbar-header" style="float:right !important">
                    @*@Html.ActionLink("Login", "Login", "UserRegistration", new { area = "" }, new { @class = "navbar-brand" })*@

                </div>
                @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Car", "Index", "car_Registration")</li>
                        <li>@Html.ActionLink("Customer", "Index", "customers")</li>
                        <li>@Html.ActionLink("Rent", "Index", "Rent")</li>
                        <li>@Html.ActionLink("Return Car", "Index", "returncar")</li>
                        <li>@Html.ActionLink("SignUp", "SignUp", "UserRegistration")</li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Madhan Pantrangam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
