﻿




@model IEnumerable<Car_Rental_System.Models.RentailViewModel>

<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "rent", FormMethod.Post, new { id = "popupForm" }))
        {
            <div>
                <h1>Car Rental</h1>
            </div>
            <div>
                <div class="form-group">
                    <label class="form-label">Car no</label>
                    <select class="form-control" id="carid" name="carid" placeholder="Car No" required>
                        <option>Please Select</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Customer ID</label>
                    <input type="text" id="custid" name="custid" class="form-control" placeholder="CustID" required />
                </div>

                <div class="form-group">
                    <label class="form-label">Customer Name</label>
                    <input type="text" id="custname" name="custname" class="form-control" placeholder="CustName" required />
                </div>



                <div class="form-group">
                    <label class="form-label">Rentail Fee</label>
                    <input type="text" id="fee" name="fee" class="form-control" placeholder="Rentail Fee" required />
                </div>

                <div class="form-group">
                    <label class="form-label">Start Date</label>
                    <input type="date" id="sdate" name="sdate" class="form-control" placeholder="Start Date" required />
                </div>

                <div class="form-group">
                    <label class="form-label">Rentail Fee</label>
                    <input type="date" id="edate" name="edate" class="form-control" placeholder="End Date" required />
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        }

    </div>

    <div class="col-sm-8">
        
        <table class="table">

            <tr>
                <th>CarNo</th>
                <th>CustomerId</th>
                <th>Fee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Available</th>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.carid</td>
                    <td>@item.custid</td>
                    <td>@item.fee</td>
                    <td>@item.sdate</td>
                    <td>@item.edate</td>
                    <td>@item.available</td>
                </tr>
            }
        </table>


    </div>

</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <script>
        getcar();
        load();

        function load() {
            $("#custid").attr("disabled", "disabled");
            $("#custname").attr("disabled", "disabled");
            $("#fee").attr("disabled", "disabled");
            $("#sdate").attr("disabled", "disabled");
            $("#edate").attr("disabled", "disabled");
        }

        function getcar() {
            $.ajax({


                type: 'GET',
                url: '/rent/GetCar',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#carid").append($("<option/>", {
                            text: data[i].carno
                        }))
                    }
                }

             })
        }
        $("#carid").change(function () {
            available();
        });

        function available() {

            $.ajax({


                type: 'POST',
                url: '/rent/Getavil?carno=' + $("#carid").val(),
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);

                    var aval = data;
                    debugger;
                    if (aval == 'Yes')
                    {
                        $("#custid").removeAttr('disabled');
                        $("#custname").removeAttr('disabled');
                        $("#fee").removeAttr('disabled');
                        $("#sdate").removeAttr('disabled');
                        $("#edate").removeAttr('disabled');
                    }
                    else
                    {
                        $("#custid").attr("disabled", "disabled");
                        $("#custname").attr("disabled", "disabled");
                        $("#fee").attr("disabled", "disabled");
                        $("#sdate").attr("disabled", "disabled");
                        $("#edate").attr("disabled", "disabled");
                    }

                }

            })

        }
        getCustomer();
        function getCustomer() {

            $("#custid").keyup(function (e) {




                $.ajax({


                    type: 'POST',
                    url: '/rent/Getid?id=' + $("#custid").val(),
                    dataType: 'JSON',
                    success: function (data) {

                        $("#custname").val(data)
                    }

                })



            })

        }



    </script>
   
}