﻿@model Car_Rental_System.Models.tbl_User
@{
    ViewBag.Title = "Login";
}
<style>
    h1 {
        text-align: center;
        /*border: 2px solid DodgerBlue;*/
        /*color: aqua;*/
        /*background-color: hsla(9, 100%, 64%, 0.5);*/
    }
</style>
<div>
    <div class="jumbotron">
        <h1>Car Rental System</h1>
    </div>
   
    <div>
        <h2>Login</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="row">
                    <div class="col-sm-2">
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                    <div class="col-sm-2">
                        @Html.ActionLink("SignUp", "SignUp", "UserRegistration", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>@ViewBag.alertMessage</label>
                    </div>
                </div>
            </div>
        }

        <div>
            @*@Html.ActionLink("Back to List", "Index")*@
            @*@Html.ActionLink("SignUp", "SignUp", "UserRegistration", new { area = "" }, new { @class = "navbar-brand" })*@

        </div>
    </div>



</div>

